<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文本编辑器</title>
    <script src="../js/outService.js"></script>
    <script src="../ckeditor/ckeditor.js"></script>
</head>
<body>
<div id="fatherEditor" style="height: 100%;background: #fcbfbf;overflow:auto" >
    <div v-if="showTextEditor">
        <textarea id="textEditor">
        </textarea>
    </div>
    <div v-if="showPicEditor" style="height: 100%;width: 100%;">
        <div v-show="!pic_edit" style="display: flex;justify-content: center;">
            <el-image
                    style="height: 100%;margin-top: 10px;"
                    :src="pic_url"
                    :preview-src-list="pic_url_list">
            </el-image>
        </div>
        <div v-show="pic_edit" style="display: flex;justify-content: center;">
            <canvas id="canvas" :style="{marginTop: '10px'}"></canvas>
        </div>
        <div style="display: flex;justify-content: center;margin-top: 10px;">
            <div style="background-color: #ebebec;text-align: center;border-radius: 20px">
                <el-button type="text" style="font-size: larger;margin-left: 50px" @click="picSizeVisible=true">调整大小
                </el-button>
                <el-button type="text" style="font-size: larger;">裁剪</el-button>
                <el-button type="text" style="font-size: larger">添加文字</el-button>
                <el-button type="text" style="font-size: larger">图片拼接</el-button>
                <el-button type="text" style="font-size: larger">添加水印</el-button>
                <el-button type="text" style="font-size: larger;margin-right: 50px">保存</el-button>
            </div>
            <el-dialog
                    title="调整图片大小"
                    :visible.sync="picSizeVisible"
                    width="30%"
                    :before-close="handleClose">
                <span>原图长 <span style="color: #e74e4e; font-size: larger"> {{pic_width}} </span>像素，
                    宽 <span style="color: #e74e4e; font-size: larger"> {{pic_height}} </span> 像素</span>
                <br><br>
                <span>当前图片长 <span style="color: #e74e4e; font-size: larger"> {{edit_pic_width}} </span>像素，
                    宽 <span style="color: #e74e4e; font-size: larger"> {{edit_pic_height}} </span> 像素</span>
                <br><br>
                <span>想要修改为 -></span>
                <br><br>
                <span>
                <el-input
                        type="text"
                        v-model="temp_pic_width"
                        maxlength="4"
                        style="width: 200px"
                        show-word-limit
                        oninput="value=value.replace(/[^0-9.]/g,'')"
                >
                    <template slot="prepend">长</template>
                    <template slot="append">px</template>
                </el-input>
                <el-input
                        type="text"
                        v-model="temp_pic_height"
                        maxlength="4"
                        style="width: 200px;margin-left: 50px"
                        show-word-limit
                >
                    <template slot="prepend">宽</template>
                    <template slot="append">px</template>
                </el-input>
                </span>
                <span slot="footer" class="dialog-footer">
    <el-button @click="picSizeVisible = false">取 消</el-button>
    <el-button type="primary" @click="changePicSize()">确 定</el-button>
  </span>
            </el-dialog>
        </div>
    </div>

</div>
<script>
     let vm = new Vue({
        el: "#fatherEditor",
        data() {
            return {
                editor: null,
                text: 'if you see this, please refresh',
                projectId: '',
                path: 'qq',
                showTextEditor: false,
                showPicEditor: true,
                form: {
                    projectId: '',
                    path: 'qq',
                    content: ''
                },
                pic_edit: false,
                pic_url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
                pic_url_list: ['https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg'],
                pic_width: 800,
                pic_height: 572,
                edit_pic_width: 400,
                edit_pic_height: 572,
                temp_pic_width: 400,
                temp_pic_height: 572,
                picSizeVisible: false,
            }
        },
        mounted() {
            // this.test()
            this.projectId = window.location.search.split("?")[1]
            this.path = decodeURI(window.location.search.split("?")[2].replaceAll('/', '\\'))
            this.form.projectId = this.projectId
            this.form.path = this.path
            this.getContent(this.projectId, this.path)
        },
        methods: {
            changePicSize() {
                this.edit_pic_height = this.temp_pic_height
                this.edit_pic_width = this.temp_pic_width
                canvas = document.getElementById('canvas')
                canvas.height = this.edit_pic_height
                canvas.width = this.edit_pic_width
                cut = canvas.getContext('2d')
                let edit_img = new Image();
                edit_img.src = this.pic_url;
                edit_img.crossOrigin = 'Anonymous';
                edit_img.width = this.edit_pic_width
                let width = this.edit_pic_width
                edit_img.onload = function() {
                    console.log(canvas)
                    cut.drawImage(edit_img,0,0,canvas.width,canvas.height);

                };
                console.log(edit_img)
                this.picSizeVisible = false
                this.pic_edit = true

                // var img = new Image();
                // img.src = this.pic_url;
                //
                // //处理toDataURL遇跨域资源导致的报错
                // img.crossOrigin = 'Anonymous';
                //
                // img.onload = function() {
                //     // 起始x,y，终止x,y。左上角放置在画布的x,y,裁剪后的大小width,length
                //     //drawImage(image, dx, dy) 在画布指定位置绘制原图
                //     //drawImage(image, dx, dy, dw, dh) 画布x,y，图像大小
                //     cut.drawImage(img,0,0,400,286,0,0,800,286);
                //     // var imgbase64 = canvas.toDataURL("image/png");
                //     // document.getElementById('result').src =imgbase64;
                // };


            },
            // test(){
            //      canvas = document.getElementById('canvas');
            //      cut = canvas.getContext('2d');
            //      img = new Image();
            //      img.src = this.pic_url;
            //      cut.drawImage(img,295,40,100,100,0 ,0,100,100);
            // },
            getContent(projectId, path) {
                axios.get('/project/getFileContent', {params: {projectId: projectId, morePath: path}})
                    .then(results => {
                        if (results.data.code === 20000) {
                            console.log(results)
                            let msg = results.data.msg
                            let data = results.data.data
                            if (msg === 'text') {
                                this.initCKEditor()
                                CKEDITOR.instances.textEditor.setData(data)
                                this.showTextEditor = true
                            } else if (msg === 'pic') {
                                this.pic_url = data.path
                                this.pic_url_list.push(this.pic_url)
                                this.showPicEditor = true
                                this.pic_width = data.width
                                this.pic_height = data.height
                                this.edit_pic_height = data.height
                                this.edit_pic_width = data.width
                            }
                        } else {
                            this.$message.error(results.data.data)
                        }
                    })
            },
            initCKEditor() {
                this.editor = CKEDITOR.replace('textEditor', {
                    // uiColor: '#3a9edc',
                    width: '100%',
                    height: screen.height * 0.77,
                    // toolbar: [
                    //     ['Source', 'Save', 'Preview'],
                    //     ['Find', 'Scayt'],
                    //     ['Bold', 'Italic', 'Underline', 'Blockquote', '-', 'Link', 'Unlink', '-', 'Image', 'Smiley', 'oembed']
                    // ]
                });
                // CKEDITOR.plugins.registered['save'] =
                //     {
                //         init : function( editor)
                //         {
                //             editor.addCommand( 'save',
                //                 {
                //                     modes : { wysiwyg:1, source:1 },
                //                     exec : function(editor) {
                //                         let form = new FormData()
                //                         form.append("content", editor.getData())
                //                         form.append("morePath", decodeURI(window.location.search.split("?")[2].replaceAll('/','\\')))
                //                         form.append("projectId", window.location.search.split("?")[1])
                //                         console.log(form)
                //                         axios.post('/version/updateText', form).then(results => {
                //                             if(results.data.code === 20000){
                //                                 this.$message.success(results.data.msg)
                //                             }else{
                //                                 this.$message.error(results.data.msg)
                //                             }
                //                         })
                //                     }
                //                 }
                //             );
                //             editor.ui.addButton( 'Save', {label : '小版本保存', command : 'save'} );
                //         }
                //     }
            },


        }
    })
</script>
</body>
</html>