<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文本编辑器</title>
    <script src="../js/outService.js"></script>
    <script src="../ckeditor/ckeditor.js"></script>
</head>
<body>
<div id="fatherEditor" style="height: 100%;background: #fcbfbf;overflow:auto">
    <div v-if="showTextEditor">
        <textarea id="textEditor">
        </textarea>
    </div>
    <div v-if="showPicEditor" style="height: 100%;width: 100%;">
        <div v-show="!pic_edit" style="display: flex;justify-content: center;">
            <el-image
                    style="height: 100%;"
                    :src="pic_url"
                    :preview-src-list="pic_url_list">
            </el-image>
        </div>
        <div v-show="pic_edit" style="display: flex;justify-content: center;">
            <canvas id="canvas"></canvas>
        </div>
        <div style="display: flex;justify-content: center;">
            <div style="background-color: #ebebec;text-align: center;border-radius: 20px">
                <el-button type="text" style="font-size: larger;margin-left: 50px" @click="picSizeVisible=true">调整大小
                </el-button>
                <el-button type="text" style="font-size: larger;" @click="cutPicVisible=true">裁剪</el-button>
<!--                <el-button type="text" style="font-size: larger" @click="combinePicVisible = true">图片拼接</el-button>-->
                <el-button type="text" style="font-size: larger" @click="watermarkVisible=true">添加水印</el-button>
                <el-button type="text" style="font-size: larger;margin-right: 50px" @click="savePicVisible=true">保存</el-button>
            </div>
            <el-dialog
                    title="调整图片大小"
                    :visible.sync="picSizeVisible"
                    width="30%"
                    >
                <span>原图宽 <span style="color: #e74e4e; font-size: larger"> {{pic_width}} </span>像素，
                    高 <span style="color: #e74e4e; font-size: larger"> {{pic_height}} </span> 像素</span>
                <br><br>
                <span>当前图片宽 <span style="color: #e74e4e; font-size: larger"> {{edit_pic_width}} </span>像素，
                    高 <span style="color: #e74e4e; font-size: larger"> {{edit_pic_height}} </span> 像素</span>
                <br><br>
                <span>想要修改为 -></span>
                <br><br>
                <span>
                <el-input
                        type="text"
                        v-model="temp_pic_width"
                        maxlength="4"
                        style="width: 200px"
                        show-word-limit
                        oninput="value=value.replace(/[^0-9.]/g,'')"
                >
                    <template slot="prepend">宽</template>
                    <template slot="append">px</template>
                </el-input>
                <el-input
                        type="text"
                        v-model="temp_pic_height"
                        maxlength="4"
                        style="width: 200px;margin-left: 50px"
                        show-word-limit
                >
                    <template slot="prepend">高</template>
                    <template slot="append">px</template>
                </el-input>
                </span>
                <span slot="footer" class="dialog-footer">
    <el-button @click="picSizeVisible = false">取 消</el-button>
    <el-button type="primary" @click="changePicSize()">确 定</el-button>
  </span>
            </el-dialog>
            <el-dialog
                    title="添加水印"
                    :visible.sync="watermarkVisible"
                    width="30%"
                    >
                <span>当前图片宽 <span style="color: #e74e4e; font-size: larger"> {{edit_pic_width}} </span>像素，
                    高 <span style="color: #e74e4e; font-size: larger"> {{edit_pic_height}} </span> 像素</span>
                <br><br>
                <span>水印位置</span>
                <br><br>
                <span>
                <el-input
                        type="text"
                        v-model="watermark_width"
                        maxlength="4"
                        style="width: 200px"
                        show-word-limit
                        oninput="value=value.replace(/[^0-9.]/g,'')"
                >
                    <template slot="prepend">x</template>
                </el-input>
                <el-input
                        type="text"
                        v-model="watermark_height"
                        maxlength="4"
                        style="width: 200px;margin-left: 50px"
                        show-word-limit
                >
                    <template slot="prepend">y</template>
                </el-input>
                </span>
                <br><br>
                <span>水印内容</span>
                <br><br>
                <el-input
                        type="text"
                        v-model="watermarkContent"
                        maxlength="15"
                        style="width: 300px;"
                        show-word-limit
                >
                </el-input>
                <span slot="footer" class="dialog-footer">
    <el-button @click="watermarkVisible = false">取 消</el-button>
    <el-button type="primary" @click="addWatermark()">确 定</el-button>
  </span>
            </el-dialog>
            <el-dialog
                    title="裁剪图片"
                    :visible.sync="cutPicVisible"
                    width="40%"
                    >
                <span>当前图片宽 <span style="color: #e74e4e; font-size: larger"> {{edit_pic_width}} </span>像素，
                    高 <span style="color: #e74e4e; font-size: larger"> {{edit_pic_height}} </span> 像素</span>
                <br><br><br>
                <span>裁剪起始坐标(左上角) -></span>
                <br><br>
                <span>
                <el-input
                        type="text"
                        v-model="cut_start_x"
                        maxlength="4"
                        style="width: 200px"
                        show-word-limit
                        oninput="value=value.replace(/[^0-9.]/g,'')"
                >
                    <template slot="prepend">x</template>
                </el-input>
                <el-input
                        type="text"
                        v-model="cut_start_y"
                        maxlength="4"
                        style="width: 200px;margin-left: 50px"
                        show-word-limit
                >
                    <template slot="prepend">y</template>
                </el-input>
                </span>
                <br><br><br>
                <span>裁剪尺寸 -></span>
                <br><br>
                <span>
                <el-input
                        type="text"
                        v-model="cut_width"
                        maxlength="4"
                        style="width: 200px"
                        show-word-limit
                        oninput="value=value.replace(/[^0-9.]/g,'')"
                >
                    <template slot="prepend">宽</template>
                </el-input>
                <el-input
                        type="text"
                        v-model="cut_height"
                        maxlength="4"
                        style="width: 200px;margin-left: 50px"
                        show-word-limit
                >
                    <template slot="prepend">高</template>
                </el-input>
                </span>
                <span slot="footer" class="dialog-footer">
    <el-button @click="cutPicVisible = false">取 消</el-button>
    <el-button type="primary" @click="cutPic()">确 定</el-button>
  </span>
            </el-dialog>
            <el-dialog
                    title="保存图片"
                    :visible.sync="savePicVisible"
                    width="40%"
                    >
                <span>日志信息</span>
                <br><br>
                <el-input
                        type="text"
                        v-model="save_log"
                        maxlength="30"
                        style="width: 500px"
                        show-word-limit
                ></el-input>
                <br>
                <span slot="footer" class="dialog-footer">
            <el-button @click="savePicVisible = false">取 消</el-button>
            <el-button type="primary" @click="savePic()">确 定</el-button>
                </span>
            </el-dialog>
<!--            <el-dialog-->
<!--                    title="拼接图片位置"-->
<!--                    :visible.sync="combinePicVisible"-->
<!--                    width="40%"-->
<!--            >-->
<!--                <i class="el-icon-edit" @click="alert('aa')"></i>-->
<!--            </el-dialog>-->
<!--            <input type="file" id="uploadCombinePic" style="display:none" />-->
        </div>
    </div>

</div>
<script>
    let vm = new Vue({
        el: "#fatherEditor",
        data() {
            return {
                editor: null,
                text: 'if you see this, please refresh',
                projectId: '',
                path: 'qq',
                showTextEditor: false,
                showPicEditor: true,
                form: {
                    projectId: '',
                    path: 'qq',
                    content: ''
                },
                canvas: '',
                pic_edit: false,
                pic_url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
                pic_url_list: ['https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg'],
                pic_width: 800,
                pic_height: 572,
                edit_pic_width: 800,
                edit_pic_height: 572,
                temp_pic_width: 400,
                temp_pic_height: 572,
                picSizeVisible: false,
                watermarkVisible: false,
                // combinePicVisible: false,
                cutPicVisible: false,
                savePicVisible: false,
                watermarkContent: '',
                watermark_width: '',
                watermark_height: '',
                cut_start_x: '',
                cut_start_y: '',
                cut_width: '',
                cut_height: '',
                save_log: '',

            }
        },
        mounted() {
            this.projectId = window.location.search.split("?")[1]
            this.path = decodeURI(window.location.search.split("?")[2].replaceAll('/', '\\'))
            this.form.projectId = this.projectId
            this.form.path = this.path
            this.getContent(this.projectId, this.path)
        },
        methods: {
            savePic(){
                this.savePicVisible = false
                let arr = this.pic_url.split(','), mime = arr[0].match(/:(.*?);/)[1], bstr = atob(arr[1]), i = bstr.length, u8arr = new Uint8Array(i);
                while(i--){
                    u8arr[i] = bstr.charCodeAt(i);
                }
                let file = new File([u8arr], "file.jpeg", {type:mime})
                let formData = new FormData();
                formData.append("file",file)
                formData.append("projectId", this.projectId)
                formData.append("log",this.save_log)
                formData.append("morePath", this.path)
                axios.post('/version/updatePic', formData, {
                    "Content-Type": "multipart/form-data;charset=utf-8"
                }).then(res => {
                    if(res.data.code === 40000){
                        this.$message.error(res.data.msg)
                    }
                })
            },
            // combinePic(){
            //     document.getElementById('uploadCombinePic').click()
            //     console.log(document.getElementById('uploadCombinePic').files[0])
            //
            // },
            cutPic() {
                let start_x = this.cut_start_x
                let start_y = this.cut_start_y
                this.edit_pic_width = Number(this.cut_width) + Number(start_x) > this.pic_width ? this.pic_width - start_x : this.cut_width
                this.edit_pic_height = Number(this.cut_height) + Number(start_y) > this.pic_height ? this.pic_height - start_y : this.cut_height
                let canvas = document.getElementById('canvas')
                canvas.height = this.edit_pic_height
                canvas.width = this.edit_pic_width
                let cut = canvas.getContext('2d')
                let edit_img = new Image();
                edit_img.src = this.pic_url;
                edit_img.crossOrigin = 'Anonymous';
                edit_img.onload = function () {
                    cut.drawImage(edit_img, start_x, start_y, canvas.width, canvas.height, 0, 0, canvas.width, canvas.height);
                };
                let _this = this
                setTimeout(function () {
                    _this.pic_url = canvas.toDataURL('image/jpeg');
                }, 500);
                this.cutPicVisible = false
                this.cut_start_x = ''
                this.cut_start_y = ''
                this.cut_width = ''
                this.cut_height = ''
            },
            changePicSize() {
                this.edit_pic_height = this.temp_pic_height
                this.edit_pic_width = this.temp_pic_width
                let canvas = document.getElementById('canvas')
                canvas.height = this.edit_pic_height
                canvas.width = this.edit_pic_width
                let cut = canvas.getContext('2d')
                let edit_img = new Image();
                edit_img.src = this.pic_url;
                edit_img.crossOrigin = 'Anonymous';
                edit_img.onload = function () {
                    cut.drawImage(edit_img, 0, 0, canvas.width, canvas.height);
                };
                let _this = this
                setTimeout(function () {
                    _this.pic_url = canvas.toDataURL('image/jpeg');
                }, 500);
                this.picSizeVisible = false
                this.temp_pic_height = ''
                this.temp_pic_width = ''
            },
            addWatermark() {
                let canvas = document.getElementById('canvas')
                canvas.height = this.edit_pic_height
                canvas.width = this.edit_pic_width
                let cut = canvas.getContext('2d')
                let content = this.watermarkContent
                let width = this.watermark_width % this.edit_pic_width
                let height = this.watermark_height % this.edit_pic_height + 18
                let edit_img = new Image();
                edit_img.src = this.pic_url;
                edit_img.crossOrigin = 'Anonymous';
                edit_img.onload = function () {
                    cut.drawImage(edit_img, 0, 0, canvas.width, canvas.height);
                    cut.font = "20px Georgia";
                    cut.fillStyle = '#ddd'
                    cut.fillText(content, width, height);
                };
                let _this = this
                setTimeout(function () {
                    _this.pic_url = canvas.toDataURL('image/jpeg');
                }, 500);
                this.watermarkVisible = false
            },
            getContent(projectId, path) {
                axios.get('/project/getFileContent', {params: {projectId: projectId, morePath: path}})
                    .then(results => {
                        if (results.data.code === 20000) {
                            let msg = results.data.msg
                            let data = results.data.data
                            if (msg === 'text') {
                                this.initCKEditor()
                                CKEDITOR.instances.textEditor.setData(data)
                                this.showTextEditor = true
                            } else if (msg === 'pic') {
                                this.pic_url = data.path
                                this.pic_url_list.push(this.pic_url)
                                this.showPicEditor = true
                                this.pic_width = data.width
                                this.pic_height = data.height
                                this.edit_pic_height = data.height
                                this.edit_pic_width = data.width
                            }
                        } else {
                            this.$message.error(results.data.data)
                        }
                    })
            },
            initCKEditor() {
                this.editor = CKEDITOR.replace('textEditor', {
                    // uiColor: '#3a9edc',
                    width: '100%',
                    height: screen.height * 0.77,
                    // toolbar: [
                    //     ['Source', 'Save', 'Preview'],
                    //     ['Find', 'Scayt'],
                    //     ['Bold', 'Italic', 'Underline', 'Blockquote', '-', 'Link', 'Unlink', '-', 'Image', 'Smiley', 'oembed']
                    // ]
                });
                // CKEDITOR.plugins.registered['save'] =
                //     {
                //         init : function( editor)
                //         {
                //             editor.addCommand( 'save',
                //                 {
                //                     modes : { wysiwyg:1, source:1 },
                //                     exec : function(editor) {
                //                         let form = new FormData()
                //                         form.append("content", editor.getData())
                //                         form.append("morePath", decodeURI(window.location.search.split("?")[2].replaceAll('/','\\')))
                //                         form.append("projectId", window.location.search.split("?")[1])
                //                         console.log(form)
                //                         axios.post('/version/updateText', form).then(results => {
                //                             if(results.data.code === 20000){
                //                                 this.$message.success(results.data.msg)
                //                             }else{
                //                                 this.$message.error(results.data.msg)
                //                             }
                //                         })
                //                     }
                //                 }
                //             );
                //             editor.ui.addButton( 'Save', {label : '小版本保存', command : 'save'} );
                //         }
                //     }
            },


        }
    })
</script>
</body>
</html>