<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hao_VCS</title>
    <script src="../js/outService.js"></script>
</head>
<body>
<div id="home" style="width: 70%; margin: auto">
    <el-menu default-active="home" class="el-menu-demo" mode="horizontal" @select="handleSelect"
             style="height: 10vh;">
        <el-menu-item index="home" style=" margin-left: 10px">
            <a href="./home.html">
                <el-image
                        style="width: 100%; height: 100%;margin-bottom: 6px"
                        :src="logo_url"
                        :fit="fit">
                </el-image>
            </a>
        </el-menu-item>

        <el-col style="margin-left: 20%;margin-top: 10px; width: 23%;">
            <el-input
                    type="text"
                    v-model="search_key"
                    placeholder="搜索项目"
                    style="width: 100%; cursor: pointer"
                    @keyup.enter.native="searchProject"
            ></el-input>
        </el-col>

        <el-menu-item index="workspace" style="margin-left: 2%">我的工作台</el-menu-item>
        <el-menu-item index="settings">配置中心</el-menu-item>
        <el-menu-item index="workshop">加工坊</el-menu-item>
        <el-submenu index="selfSpace">
            <template slot="title"><img class="head-img" :src="headUrl"/></template>
            <el-menu-item index="selfImf">个人信息</el-menu-item>
            <el-menu-item index="logOut">登出</el-menu-item>
        </el-submenu>
    </el-menu>
    <div>
        <div v-show="showHome" style="height: 90vh">
        <div  :style="{background: 'url('+ backgroundPic +')'}"
             class="shadow-background">
        </div>
        <el-carousel class="inside-pic" :interval="3000" type="card" height="25vw" @change="picChange">
            <el-carousel-item v-for="(item, index) in urls" :key="index">
                <img :src="item.url" style="width: 100%;height: 100%">
            </el-carousel-item>
        </el-carousel>
        </div>
        <div v-show="showWorkspace">
            <iframe src="../component/workspace.html" style="width: 100%;border: medium none;height: 800px;"></iframe>
        </div>
        <div v-show="showSettings">
            showSettings
        </div>
        <div v-show="showWorkshop">
            <iframe src="../component/workshop.html" style="width: 100%;border: medium none;height: 400px"></iframe>
        </div>
        <div v-if="showSelfImf" class="self-imf">
            <iframe id="selfImfIframe" src= "../component/selfImf.html"
                    style="border: medium none;height: 100%; width: 100%;margin-top: 20px;"></iframe>
        </div>
    </div>

</div>

</body>
<script>
    var vm = new Vue({
        el: "#home",
        data() {
            return {
                headUrl: '../image/defaultHead.png',
                fit: 'scale-down',
                logo_url: '../image/local/logo.png',
                search_key: '',
                showHome: true,
                showWorkshop: false,
                showSettings: false,
                showWorkspace: false,
                showSelfImf: false,
                urls:[
                    {url: '../image/home/pic1.jpg'},
                    {url: '../image/home/pic2.jpg'},
                    {url: '../image/home/pic3.jpg'},
                    {url: '../image/home/pic4.jpg'},
                ],
                backgroundPic: '../image/home/pic1.jpg',
            }
        },
        created() {
            this.getHeadUrl()
            window.addEventListener('message', this.handleMessage)
        },
        methods: {
            picChange(index){
                this.backgroundPic = this.urls[index].url
            },
            async getHeadUrl() {
                axios.get('/file/head').then(res => {
                    if (res.data.code === 20000) {
                        this.headUrl = res.data.data
                    }
                })
            },
            searchProject() {
                alert('wow!')
            },
            handleMessage(e) {
                this.headUrl = e.data
            },
            handleSelect(key) {
                this.hideAll();
                if (key === 'logOut') {
                    axios.get('/doLogin')
                    this.$message({
                        message: '欢迎再次使用',
                        type: 'success'
                    });
                    setTimeout(function () {
                        window.location.href = './login.html'
                    }, 1000)
                } else if (key === 'workshop') {
                    this.showWorkshop = true
                } else if (key === 'workspace') {
                    this.showWorkspace = true
                } else if (key === 'settings') {
                    this.showSettings = true
                } else if (key === 'home') {
                    this.showHome = true
                } else if (key === 'selfImf') {
                    this.showSelfImf = true
                }
            },
            hideAll() {
                this.showWorkshop = false
                this.showWorkspace = false
                this.showSettings = false
                this.showHome = false
                this.showSelfImf = false
            },

        }
    })
</script>
<style scoped>
    .head-img {
        height: 65%;
        width: 40px;
        border-radius: 100%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .self-imf {
        margin: auto;
        width: 80%;
        height: 650px;
    }
    .shadow-background{
        height: 90vh;
        width: 100%;
        overflow: hidden;
        filter:blur(2px);
        position: relative;
        opacity: 0.8;
    }
    .inside-pic{
        margin-top: 10%;
        position: relative;
        top: -90vh;
    }


</style>
</html>