<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>状态更新栏</title>
    <script src="../js/outService.js"></script>
</head>
<body>
<div id="banner" style="height: 50px;">
    <el-card >
            <span>{{latestChangeImf.latestActor}}</span>
            <span style="color: #8db2f6; margin-left: 1%;">{{latestChangeImf.latestAction}}</span>
            <span style="font-size: small;margin-left: 1%;color: #8c939d">
                            {{latestChangeImf.latestUpdateTime}}</span>
    </el-card>

</div>
<script>
    var vm = new Vue({
        el: "#banner",
        data() {
            return {
                projectId: '',
                latestChangeImf: {
                        latestActor: "cyh?", latestAction: "nothing?", latestUpdateTime: "now?"
                    },
            }
        },
        mounted() {
            this.projectId = window.location.search.split("?")[1]
            this.getLatestProjectChangeImf()
        },
        methods: {
            getLatestProjectChangeImf() {
                axios.get('/project/changeImf', {params: {'projectId': this.projectId}})
                    .then(results => {
                        if (results.data.code === 20000) {
                            this.latestChangeImf = results.data.data
                        } else {
                            this.$message.warning("工程更新信息异常")
                            this.showProjectList = false
                        }
                    })
            },
        }
    })
</script>
</body>
</html>