<!DOCTYPE html>
<html lang="en" style="overflow:hidden;">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/outService.js"></script>
</head>
<body>
<div id="message" style="overflow: hidden">
    <el-col :span="4" >
        <el-menu
                default-active="apply"
                @select="handleSelect">
            <el-menu-item index="apply">
                <span slot="title">我发起的</span>
            </el-menu-item>
            <el-menu-item index="receive">
                <span slot="title">我收到的</span>
            </el-menu-item>
        </el-menu>
    </el-col>

        <div v-show="showApplyMessage">
            <ul style="overflow:auto;width: 75%">
                <li v-for="(message,i) in applyList" class="infinite-list-item" style="list-style:none">
                    <el-card class="box-card" @click.native="selectMessage(message)">
                        <div slot="header" class="clearfix">
                            <el-button  type="text">申请加入项目: {{ message.projectName }} </el-button>
                            <el-badge v-if="message.apply.checked == 0" value="new"></el-badge>
                            <el-popover
                                    placement="right"
                                    width="750"
                                    trigger="click">

                                <el-table :data="selectedMessage">
                                    <el-table-column width="200" property="applyName" label="管理员"></el-table-column>
                                    <el-table-column width="250" property="description" label="项目描述"></el-table-column>
                                    <el-table-column width="250" property="apply.content" label="我的申请信息"></el-table-column>
                                </el-table>
                                <el-button style="float: right; padding: 3px 0" type="text"  slot="reference">查看详情
                                </el-button>
                            </el-popover>
                        </div>
                        <span style=" color: #9f9f9f; font-size: small;">申请时间: {{ message.apply.applyTime }}</span>
                        <span v-if="message.apply.status==2"
                              style=" color: #3a9edc; font-size: small;float: right;">通过</span>
                        <span v-if="message.apply.status==1"
                              style=" color: #e57161; font-size: small;float: right;">拒绝</span>
                        <span v-if="message.apply.status==0"
                              style=" color: #858484; font-size: small;float: right;">等待处理</span>
                    </el-card>
                    <p></p>
                </li>
            </ul>
        </div>

        <div v-show="showReceiveMessage">
            <ul style="overflow:auto;width: 75%">
                <li v-for="(message,i) in receiveList" class="infinite-list-item" style="list-style:none">
                    <el-card class="box-card" @click.native="selectMessage(message)">
                        <div slot="header" class="clearfix">
                            <el-button  type="text"> 申请加入项目: {{ message.projectName }} </el-button>
                        <el-badge v-if="message.apply.checked == 0 && message.apply.status == 0" value="new">

                        </el-badge>
                        <el-popover
                                placement="right"
                                width="750"
                                trigger="click">
                            <el-table :data="selectedMessage">
                                <el-table-column width="200" property="applyName" label="申请人"></el-table-column>
                                <el-table-column width="250" property="description" label="项目描述"></el-table-column>
                                <el-table-column width="250" property="apply.content" label="申请信息"></el-table-column>
                            </el-table>
                            <el-button style="float: right; padding: 3px 0" type="text"  slot="reference">查看详情
                            </el-button>
                        </el-popover>
                        </div>
                        <span style=" color: #9f9f9f; font-size: small;">申请时间: {{ message.apply.applyTime }}</span>
                        <span v-if="message.apply.status == 0">
                        <el-radio v-model="radio" :label="1+i*2" style="float: right;margin-right:5%" @change="reply(message)" >同意</el-radio>
                        <el-radio v-model="radio" :label="2+i*2" style="float: right;margin-right: 3%" @change="reply(message)">拒绝</el-radio>
                        </span>
                        <span v-if="message.apply.status == 1" >
                            <span style=" color: #e57161; font-size: small;float: right;">已拒绝</span>
                        </span>
                        <span v-if="message.apply.status == 2" >
                            <span style=" color: #43b443; font-size: small;float: right;">已同意</span>
                        </span>
                    </el-card>
                    <p></p>
                </li>
            </ul>

        </div>

    <div v-if="showEmptyMessage">
        <p style="text-align: center;margin-top: 20%;color: #9f9f9f; font-size: xx-large;">
            这里人迹罕至~</p>
    </div>
</div>
<script>
    var vm = new Vue({
        el: "#message",
        data() {
            return {
                radio: '',
                receiveList: [
                    {
                        applyName: 'cyh2',
                        projectName: "receive",
                        description: "this is cyh2",
                        apply: {
                            content: "I want to join2I want to joinI want to joinI want to joinI want to join",
                            applyTime: '2023-05-09 20:46:27',
                            status: 0,
                            checked: 0,
                        }
                    },
                    {
                        applyName: 'cyh3',
                        projectName: "receive",
                        description: "this is cyh2",
                        apply: {
                            content: "I want to join2I want to joinI want to joinI want to joinI want to join",
                            applyTime: '2023-05-09 20:46:27',
                            status: 0,
                            checked: 0,
                        }
                    },
                ],
                applyList:[
                    {
                        applyName: 'cyh',
                        projectName: "apply",
                        description: "this is 1",
                        apply: {
                            content: "I want to joinI want to joinI want to joinI want to joinI want to join",
                            applyTime: '2023-05-09 20:46:27',
                            status: 0,
                            checked: 1,
                        }
                    },
                ],
                showReceiveMessage: false,
                showApplyMessage: false,
                showEmptyMessage: true,
                selectedMessage: [],
                projectDetailVisible:false,
                messageDetailVisible: false,
            }
        },
        mounted() {
            this.getAllMessage()
            this.handleSelect('apply')
        },
        methods: {
            reply(message){
                let msg
                let apply = message.apply
                let agree = this.radio % 2 === 1
                if(agree){
                    msg = '同意该申请?'
                }else{
                    msg = '拒绝该申请?'
                }
                this.$confirm(msg, '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                    if(agree){
                        apply.status = 2
                    }else{
                        apply.status = 1
                    }
                    axios.post('/project/reply', apply).then(results => {
                        if (results.data.code === 20000) {
                            this.$message.success(results.data.msg)
                        }else{
                            this.$message.error(results.data.msg)
                            message.apply.status = 0
                            this.radio = ''
                        }
                    })
                    }).catch(() => {
                        this.radio = ''
                    });
            },
            handleSelect(key) {
                if (key === 'apply') {
                    this.showReceiveMessage = false
                    if(this.applyList.length > 0){
                        this.showEmptyMessage = false
                        this.showApplyMessage = true
                    }else{
                        this.showEmptyMessage = true
                    }
                } else if (key === 'receive') {
                    this.showApplyMessage = false
                    if(this.receiveList.length > 0){
                        this.showReceiveMessage = true
                        this.showEmptyMessage = false
                    }else{
                        this.showEmptyMessage = true
                    }
                }
            },
            selectMessage(message){
                this.selectedMessage = []
                this.selectedMessage.push(message)
            },
            getAllMessage() {
                axios.get('/project/checkAllMessage').then(results => {
                    if (results.data.code === 20000) {
                        let map = results.data.data
                        console.log(map)
                        this.receiveList=map.receive
                        this.applyList = map.apply
                    } else {
                        this.$message.error(results.data.msg)
                    }
                })
            }

        }
    })
</script>
</body>
</html>
