
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/outService.js"></script>
</head>
<body >
<div id="app">
    <el-switch
            v-model="config"
            active-text="消息自动回应"
            @change="changeConfig()">
    </el-switch>
    <div v-if="showConfig" style="margin-top: 20px">
        <el-switch
                v-model="reply"
                active-text="自动批准加入项目申请"
                inactive-text="自动拒绝加入项目申请"
                @change="changeApplyStatus()"
                style="margin-left: 50px;">
        </el-switch>
        <el-divider></el-divider>
    </div>

</div>
<script>
    var vm = new Vue({
        el: "#app",
        data() {
            return {
                config: false,
                showConfig: false,
                reply: false,
            }
        },
        mounted() {
            this.getMsgStrategy()
        },
        methods: {
            getMsgStrategy() {
                axios.get('/config/getMsgStrategy').then(
                    result => {
                        console.log(result)
                        if(result.data.msg === 'closed'){
                            this.showConfig = false
                            this.config = false
                        }else{
                            this.config = true
                            this.showConfig = true
                            if(result.data.msg === 'accept'){
                                this.reply = true
                            }else{
                                this.reply = false
                            }
                        }
                    }
                )
            },
            changeConfig(){
                axios.get('/config/changeMsgAutoEffect',{
                    params:
                        {
                            config: this.config,
                            reply: this.reply
                        }
                }).then(
                    result => {
                        if(result.data.code !== 20000){
                            this.$message.warn(result.data.msg)
                        }
                    }
                )
                this.showConfig = this.config;
            },
            changeApplyStatus(){
                axios.get('/config/msgAutoReply',{
                    params:
                        {
                            reply: this.reply
                        }
                }).then(
                    result => {
                        if(result.data.code !== 20000){
                            this.$message.warn(result.data.msg)
                        }
                    }
                )
            },
            }
    })
</script>
</body>
</html>