<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <script src="../js/outService.js"></script>
</head>
<body>
<div id="app">
    <el-upload
            class="upload-demo"
            ref="upload"
            action="none"
            :on-change="handleChange"
            :file-list="fileList"
            :auto-upload="false"
            :http-request="uploadFile"
            style="width: 100%;height: 100%;">
        <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
        <el-button size="small" type="success" @click="submitUpload" style="margin-left: 20px">上传到服务器</el-button>
        <el-button size="small" type="warning" @click="clearFiles" style="margin-left: 20px">清空文件</el-button>
    </el-upload>

</div>
<script>
    var vm = new Vue({
        el: "#app",
        data() {
            return {
                fileList: [],
                projectId: 0,
                projectName: '',
                path: '',
            }
        },
        mounted() {
            this.projectId = window.location.search.split("?")[1]
            this.projectName = decodeURI(window.location.search.split("?")[2])
            this.path = decodeURI(window.location.search.split("?")[3].replace('/', '\\'))
        },
        methods: {
            clearFiles() {
                this.$refs['upload'].clearFiles()
            },
            submitUpload() {
                if (this.fileList.length === 0) {
                    this.$message.warning({
                        duration: 1000,
                        message: '请选择至少一个文件',
                    });
                } else {
                    this.$refs.upload.submit();
                    this.$message.success('上传成功')
                }
            },
            // handleRemove(file, fileList) {
            //     console.log('remove')
            //     console.log(file, fileList);
            // },
            handleChange(file, fileList) {
                this.fileList = fileList;
            },
            uploadFile(file) {
                let formData = new FormData();
                formData.append("file",file.file)
                console.log(file.file)
                formData.append("id", this.projectId)
                formData.append("name",this.projectName)
                formData.append("path", this.path)
                axios.post('../file/uploadFile', formData, {
                    "Content-Type": "multipart/form-data;charset=utf-8"
                }).then(res => {
                    if(res.data.code === 40000){
                        this.$message.error(res.data.msg)
                    }
                    this.clearFiles()
                })

            },
        }
    })
</script>
</body>
</html>