<!DOCTYPE html>
<html lang="en" style="overflow:hidden;">
<head>
    <meta charset="UTF-8">
    <title>工作台</title>
    <script src="../js/outService.js"></script>
    <script src="../plugins/router/vue-router.global.js"></script>
    <script src="../js/sortProject.js"></script>
</head>
<body>
<div id="app" style=" margin:0 auto;">
    <el-col :span="4">
        <el-menu
                default-active="depot"
                @select="handleSelect">
            <el-menu-item index="depot">
                <span slot="title">仓库</span>
            </el-menu-item>
            <el-menu-item index="myLike">
                <span slot="title">我的收藏</span>
            </el-menu-item>
            <el-menu-item index="addProject">
                <span slot="title">新建工程</span>
            </el-menu-item>
        </el-menu>
    </el-col>
    <div v-show="showDepot">
        <el-col :span="20">
            <el-menu default-active="all" class="el-menu-demo" mode="horizontal" @select="handleClick">
                <el-menu-item index="all">全部</el-menu-item>
                <el-menu-item index="ownPro">拥有项目</el-menu-item>
                <el-menu-item index="joinPro">参与项目</el-menu-item>
                <el-submenu index="sort" style="margin-right: 20%">
                    <template slot="title">排序</template>
                    <el-menu-item index="publicFirst">公开在前</el-menu-item>
                    <el-menu-item index="privateFirst">私有在前</el-menu-item>
                    <el-menu-item index="latestFirst">最新在前</el-menu-item>
                    <el-menu-item index="reverse">反转</el-menu-item>
                </el-submenu>
            </el-menu>

            <div v-show="showProjectList">
                <ul style="overflow:auto;width: 75%">
                    <li v-for="(project,i) in projectList" class="infinite-list-item" style="list-style:none">
                        <el-card class="box-card" @click.native="checkProject(project)">
                            <div slot="header" class="clearfix">
                                <span>{{ project.projectName }}</span>
                                <el-button style="float: right; padding: 3px 0" type="text"
                                           @click="checkProject(project)">进入项目
                                </el-button>
                            </div>
                            <span style=" color: #9f9f9f; font-size: small;">创建时间: {{ project.createTime }}</span>
                            <span v-if="project.privacy==1"
                                  style=" color: #3a9edc; font-size: small;float: right;">公开</span>
                            <span v-if="project.privacy==0"
                                  style=" color: #e57161; font-size: small;float: right;">私有</span>
                        </el-card>
                        <p></p>
                    </li>
                </ul>
            </div>
            <div v-show="!showProjectList">
                <p style="text-align: center;margin-top: 20%; color: #9f9f9f; font-size: xx-large;">
                    还没有任何工程哦~</p>
            </div>

        </el-col>
    </div>
    <div v-show="showMyLike" style="overflow:auto;">
        <p style="text-align: center; margin-top: 20%;color: #9f9f9f; font-size: xx-large;">
            还没有收藏任何工程哦~</p>
    </div>
    <div v-show="showAddProject">
        <el-col :span="20">
            <iframe id="newProjectIframe" src="../page/new_project.html"
                    style="border: medium none;width: 100%;height: 750px"></iframe>
        </el-col>
    </div>
    <div v-if="showProject">
        <el-container>
            <el-header style="height: 100px; background-color: #f3f5f5">
                <br>
                <span style="margin-left: 20px; font-size: large; font-weight: bold">
                        <i class="el-icon-s-cooperation"></i>
                        {{selectedProject.projectName}}</span>
                <el-tabs value="projectContent" @tab-click="tabAlt" style="margin-left: 20px;margin-top: 14px">
                    <el-tab-pane name="projectContent">
                        <span slot="label"><i class="el-icon-folder-opened"></i> 项目内容</span>
                    </el-tab-pane>
                    <el-tab-pane name="projectSettings">
                        <span slot="label"><i class="el-icon-setting"></i> 配置管理</span>
                    </el-tab-pane>
                </el-tabs>
            </el-header>
            <el-main>
                <div v-show="showProjectContent" style="height: 50px;">
                    <el-button @click="uploadFileVisible = true">上传文件</el-button>
                    <el-button @click="downloadProject">下载工程</el-button>
                    <el-dialog title="文件上传" :visible.sync="uploadFileVisible"
                               @close='closeFileUpload'>
                        <iframe id="uploadFile" :src="uploadSrc"
                                style="border: medium none;height: 100%; width: 100%;"></iframe>
                    </el-dialog>
                </div>
                <iframe v-show="showProjectContent" id="actionBanner" :src="actionBannerSrc"
                        style="border: none; width: 100%;height: 50px;" scrolling="no"></iframe>
                <div v-show="showProjectContent">
                    <el-card class="box-card">
                        <el-page-header @back="goBack">
                        </el-page-header>
                        <div v-for="(file, index) in showList" :key="file" class="text item">
                            <span v-if="startIndex + index < dirNum"><i class="el-icon-folder"></i>
                                <el-button type="text" @click="getPath(file,startIndex+index)">{{file}}</el-button>
                            </span>
                            <span v-else><i class="el-icon-document"></i>
                                <el-button type="text" @click="getPath(file,startIndex+index)">{{file}}</el-button>
                                <el-button type="text" @click="openVersionLog(file)" style="float: right">
                                    查看历史版本
                                </el-button>
                            </span>
                            <el-divider></el-divider>
                        </div>
                    </el-card>
                    <el-pagination
                            layout="prev, pager, next"
                            :total="fileNum"
                            :hide-on-single-page=true
                            :page-size="pageSize"
                            @current-change="handleCurrentChange">
                    </el-pagination>
                    <el-dialog title="版本更替信息" :visible.sync="versionLogVisible">
                        <el-table :data="versionImf" height="300">
                            <el-table-column property="version" label="版本号" width="100"></el-table-column>
                            <el-table-column property="saveTime" label="最后更新日期" width="175"></el-table-column>
                            <el-table-column property="latestActor" label="更新人" width="100"></el-table-column>
                            <el-table-column property="latestAction" label="更新日志" width="200"></el-table-column>
                            <el-table-column label="操作" fixed="right" width="150">
                                <template slot-scope="scope">
                                    <span v-if="scope.row.version != currentVersion">
                                        <el-button @click="compareTwoFile(scope.row)" type="text">对比</el-button>
                                        <el-button @click="checkFileVersion(scope.row)" type="text">切换</el-button>
                                        <el-button @click="deleteFileWithVersion(scope.row)" type="text"
                                                   style="color: red">删除</el-button>
                                    </span>
                                    <span v-else style="color: #3a9edc">当前版本</span>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-dialog>
                </div>

                <div v-show="showProjectSettings">
                    <el-button type="danger" @click="deleteProject">删除项目</el-button>
                </div>
            </el-main>
            <el-footer>
                <div v-show="showProjectContent">
                    <el-card class="project-des-card">
                        <div slot="header">
                            <span style="font-size: larger">工程简介</span>
                        </div>
                        <div>
                            {{selectedProject.description}}
                        </div>
                    </el-card>
                </div>
            </el-footer>
        </el-container>
    </div>

</div>
<script>
    let vm = new Vue({
        el: "#app",
        data() {
            return {
                showDepot: true,
                showMyLike: false,
                showAddProject: false,
                showProjectList: true,
                showProject: false,
                showProjectContent: true,
                showProjectSettings: false,
                uploadFileVisible: false,
                projectList: [
                    {
                        projectId: 1,
                        projectName: "p1",
                        description: "this is 1",
                        privacy: 0,
                        createTime: '2023-02-09 20:46:27'
                    },
                ],
                selectedProject: {},
                uploadSrc: '',
                actionBannerSrc: '',
                startIndex: 0,
                endIndex: 0,
                currentPage: 1, //初始页
                pageSize: 8,
                showList: [],
                dirNum: 5,
                fileNum: 10,
                dirList: ['啊', 'ab', 3, 4, 5],
                allList: ['啊', 'ab', 3, 4, 5, 6, 7, 8, 9, 10],
                path: '',
                selectedFile:'',
                versionLogVisible: false,
                versionImf: [{
                    version: '1.0',
                    saveTime: '2023-02-24T17:40:11',
                    latestActor: 'cyh',
                    latestAction: '更新x'
                },],
                currentVersion: 0,
            }
        },
        mounted() {
            window.addEventListener('message', this.handleMessage)
            this.getAllProject()
        },
        methods: {
            compareTwoFile(row) {
                console.log(row)
            },
            deleteFileWithVersion(row) {
                console.log(row)
            },
            checkFileVersion(row) {
                axios.get('/version/checkFileVersion',
                    {
                        params:
                            {projectId: this.selectedProject.projectId,
                             morePath: this.path + '\\' + this.selectedFile,
                             version: row.version}
                    }).then(
                    result => {
                        if(result.data.code === 20000){
                            this.$message.success(result.data.msg)
                            this.openVersionLog(this.selectedFile)
                        }else{
                            this.$message.error(result.data.msg)
                        }
                    })
            },
            closeFileUpload() {
                this.getDirContent(this.selectedProject.projectId, this.path)
            }
            ,
            goBack() {
                if (this.path === '') {
                    this.dirList = []
                    this.fileList = []
                    this.fileNum = 0
                    this.handleSelect('depot')
                } else {
                    this.uploadSrc = this.uploadSrc.substring(0, this.uploadSrc.lastIndexOf('/') - 1)
                    this.path = this.path.substring(0, this.path.lastIndexOf('\\'))
                    this.getDirContent(this.selectedProject.projectId, this.path)
                }
            }
            ,
            openVersionLog(file) {
                this.selectedFile = file,
                axios.get('/version/getVersionList',
                    {
                        params:
                            {projectId: this.selectedProject.projectId, morePath: this.path + '\\' + file}
                    }).then(
                    result => {
                        this.versionImf = sortVersionList(result.data.data)
                        this.currentVersion = this.versionImf[this.versionImf.length - 1].version
                    })
                this.versionLogVisible = true
            }
            ,
            getPath(file, index) {
                if (index < this.dirNum) {
                    this.path = this.path + '\\' + file
                    this.uploadSrc = this.uploadSrc + '?' + '/' + file;
                    this.getDirContent(this.selectedProject.projectId, this.path)
                } else {
                    this.getFileContent(this.selectedProject.projectId, this.path.replace('\\', '/') + '/' + file)
                }
            }
            ,
            getFileContent(projectId, path) {
                let editUrl = '../page/editor.html?' + projectId + '?' + path
                window.open(editUrl)
            }
            ,
            getDirContent(projectId, path) {
                axios.get('/project/getDirContent', {params: {projectId: projectId, morePath: path}})
                    .then(results => {
                        if (results.data.code === 20000) {
                            let allContent = results.data.data
                            this.dirNum = allContent.dir.length
                            this.allList = allContent.dir.concat(allContent.file)
                            this.fileNum = this.allList.length
                            this.handleCurrentChange(this.currentPage)
                        } else {
                            this.$message.error('获取文件夹内容失败!')
                        }
                    })
            }
            ,
            handleCurrentChange(currentPage) {
                this.currentPage = currentPage;
                this.startIndex = (this.currentPage - 1) * this.pageSize
                this.endIndex = this.currentPage * this.pageSize
                this.showList = this.allList.slice(this.startIndex, this.endIndex)
            }
            ,
            deleteProject() {
                this.$confirm('此操作将永久删除该项目, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete('/project/deleteProject', {params: {'projectId': this.selectedProject.projectId}})
                        .then(results => {
                            if (results.data.code === 20000) {
                                this.$message.success('删除成功!')
                                this.handleSelect('depot')
                            } else {
                                this.$message.error('删除失败!')
                            }
                            this.getAllProject()
                        })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
            ,
            tabAlt(tab) {
                let choice = tab.name
                if (choice === 'projectContent') {
                    this.showProjectContent = true
                    this.showProjectSettings = false
                } else {
                    this.showProjectContent = false
                    this.showProjectSettings = true
                }
            }
            ,
            handleMessage(e) {
                window.location.href = './workspace.html'
            }
            ,
            downloadProject() {

            }
            ,
            checkProject(project) {
                this.hideAll()
                this.showProject = true
                this.selectedProject = project
                this.uploadSrc = './uploadFile.html?' + project.projectId + '?' + project.projectName
                this.actionBannerSrc = './latestActionBanner.html?' + project.projectId
                this.handleCurrentChange(1)
                this.getDirContent(project.projectId)
            }
            ,
            handleSelect(key) {
                this.hideAll();
                if (key === 'depot') {
                    this.showDepot = true
                    this.getAllProject()
                } else if (key === 'myLike') {
                    this.showMyLike = true
                } else if (key === 'addProject') {
                    this.showAddProject = true
                }
            }
            ,
            handleClick(key) {
                if (key === 'all') {
                    this.getAllProject()
                } else if (key === 'ownPro') {
                    this.getOwnProject()
                } else if (key === 'joinPro') {
                    this.getJoinProject()
                } else if (key === 'publicFirst' || key === 'privateFirst' ||
                    key === 'latestFirst' || key === 'reverse') {
                    this.projectList = sortProject(key, this.projectList)
                }
            }
            ,
            setProjectList(result) {
                if (result.data.code === 20000) {
                    this.projectList = result.data.data
                    if (this.projectList.length > 0) {
                        this.showProjectList = true
                    } else {
                        this.showProjectList = false
                    }

                }
            }
            ,
            getAllProject() {
                axios.get('/project/all').then(results => {
                    this.setProjectList(results)
                })
            }
            ,
            getOwnProject() {
                axios.get('/project/own').then(results => {
                    this.setProjectList(results)
                })
            }
            ,
            getJoinProject() {
                axios.get('/project/join').then(results => {
                    this.setProjectList(results)
                })
            }
            ,
            hideAll() {
                this.showDepot = false
                this.showAddProject = false
                this.showMyLike = false
                this.showProject = false
            }
            ,

        }
    })
</script>

<style scoped>
    .el-divider {
        margin: 1px 0;
        background: 0 0;
        border-top: 1px solid #E6EBF5;
    }

</style>
</body>
</html>